@font-face {
  font-family: "Takota";
  src: url("../css/fonts/Takota.ttf");
}

/* ===================================================== */
html, body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.mainWrapper {
  flex: 1 0 auto;
}

/* ===================================================== */
.topPageWrapper {
  background-image: url("../images/mainPics.jpeg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  margin-bottom: -8em;
}

.nav {
  background-color: #000000 !important;
}

.navbar-brand {
  font-family: "Takota" !important;
  font-size: 25px;
  letter-spacing: 3px;
}

.logo {
  background-color: white;
  border-radius: 100%;
  width: 1.188em;
  height: 1.188em; 
  margin-right: 0.5em;
}

a {
  color: #EFF5FC;
}

.navbar-toggler-icon {
  border-color: white;
}

.nav-link {
  color: white !important;
  font-size: 0.75em;
}

/* ===================================================== */
.surveyButton {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, 0);
}

.surveyButton h4 {
  font-size: 1em;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  padding: 0.2em 1em 0.2em 1em;
}

/* ===================================================== */
footer {
  flex-shrink: 0;
  text-align: center;
  background-color: black;
  height: 8em;
  width: 100vw;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  font-size: 0.75em;
}

.footerSurvey {
  position: unset;
}

/* Media Query */
/* ===================================================== */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}